@import './variables';

* {
    margin: 0;
    padding: 0;
    border:  0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, $color-softBlue, $color-softViolet);
    background-color: $color-softBlue;
    background-repeat: no-repeat;
}



.faq {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: stretch;
    margin: auto;
    width: 910px;
    border-radius: 25px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.322);
    background-color: $color-white;
    font-family: Kumbh Sans, sans-serif;
}

.main-mural {
    display: flex;
    width: 500px;
    align-items: stretch;
    height: inherit;
}

.mural-a {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: inherit;
    height: inherit;
}

.mural-b {
    display: flex;
    align-items: center;
}

.images {
    position: relative;

    &__plataform-shadow {
        position: absolute;
        right: -388px;
        top: -538px;
    }

    &__plataform {
        position: absolute;
        right: -388px;
        top: -192px;
    }
    &__box {
        position: absolute;
        right: 402px;
        top: -59px;
    }
}

.doubts {
    margin: 50px 90px 50px 0px;
    width: 600px;
    
    &__question {
        font-size: 14px;
        font-weight: regular;
    }

    &__js-question {
        font-size: 14px;
        font-weight: regular;

        &:hover {
            color: $color-softRed;
        }
    }

    &__answer {
        height: 8px;
        margin-top: 8px;
        font-size: 14px;
        color: $color-DarkGrayishBlue;
        font-weight: regular;
        transition: 0.1s;
        transform: rotateX(-90deg);
        transform-origin: top center;
    }
}

h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.doubt {
    border-bottom: 1px solid $color-line
}

.doubt__expand {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;

    img {
        height: 8px;
        transition: 0.3s;
    }
}

.js-doubt__expand-active {
    font-weight: bolder;
}

.js-answer-active {
    margin-bottom: 10px;
    font-size: 14px;
    height: auto;
    font-weight: regular;
    transform: rotateX(0deg);
}

.js-arrow-active {
    transform: rotate(180deg);
}

footer {
    padding: 1.25rem 0;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

@media (max-width: 1006px) {

    .faq {
        flex-direction: column;
        width: 375px;
        margin-top: 12rem;
        align-items: center;
        overflow: visible;
    }

    .main-mural {
        width: inherit;
    }

    .mural-a {
        overflow: visible;
    }

    .images {
        display: flex;
        align-items: center;
        overflow: visible;
        height: 100px;

        &__plataform-shadow {
            width: 281px;
            height: 297px;
            right: -324px;
            top: -174px;
        }

        &__plataform {
            width: 280px;
            height: 230px;
            right: -324px;
            top: -138px;
        }

        &__box {
            width: 115px;
            height: 110px;
            right: 223px;
            top: -50px;
        }
    }

    .doubts {
        width: 310px;
        margin: 50px auto 60px auto; 
        justify-content: center;
    }

    h1 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 40px;
    }

    footer {
        padding: 4rem 0 1rem 0 ;
    }
}
